<!DOCTYPE html>
<html>
<head>
	<title>Plant virudh Weed</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body style = "background-color: coral;">
	<h1 class = "head"> Plant Weed Classifier </h1>
	<br><br><hr><br><br>
	<div class = "content">
	<form method="POST" action="/" enctype="multipart/form-data">
      <dl>
          <p>
            
            
            <input type="file" name="files">

            <input type="submit" value="Check">
         </p>
         </dl>

    </form>
	
	<p> {{answer}} </p>
	
	</div>

</body>
</html>