.head{
	max-width: 500px;
  margin: auto;
  text-align:center;
  font-family: 'Brush Script MT', cursive;
  
}


.content {
  max-width: 500px;
  margin: auto;
  text-align:center;
  font-family: cursive;
  
}